fastapi
uvicorn[standard]
streamlit
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
requests
sqlalchemy>=1.4.0,<3.0.0
psycopg2-binary
anthropic
crewai
mailjet-rest